
<div class="page">

  <div class="row">
    <h1>People List</h1>
  </div> 

    <!-- <div class="row">
        <div class="navigation col">Navigation</div>
        <div class="main_content col">Main content</div>
        <div class="related_content col">Related content</div>
    </div> -->

  <!-- <div class="row">
    <div class="col">Media block 1</div>
    <div class="col">Media block 2</div>
    <div class="col">Media block 3</div>
  </div>  -->

  <div class="row"> 
    <div class="col span_3">
      <app-people-list></app-people-list>
    </div>
    <div class="col span_3">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <div class="row"> 
    <app-people-list></app-people-list>
  </div>   -->
    
</div>  

